<ul class="users">
  <% @mort_users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%=link_to user.first_name,user  %>

    </li>
    <tr>
    <% if signed_in? && !Invitation.reacted?(current_user.id, user.id) && current_user != user %>
        <td> <%= link_to 'connect',
                         invitations_path(ids: {id1: current_user.id, id2: user.id}),data: { turbo_method: "post"}
        %></td>
     <% end %>
    </tr>
  <%end %>
</ul>