<h1>Mortgage Farm</h1>
<body>
 Mortgage website is a website where mortgagor (the borrower in a mortgage, typically a homeowner) can connect and contact mortgagee (the lender in a mortgage, typically a bank, building society, or savings and loan association)
</body>
<%= image_tag "new.png", style: 'height:50vw;width:100vw;margin-bottom:20px;' %>