<footer class="footer">
  <nav>
    <ul>
      <li><a href="https://www.lawgurus.in/rights-and-liabilities-of-mortgagor-and-mortgagee/">About</a></li>

      <li><a href="https://www.lawgurus.in/rights-and-liabilities-of-mortgagor-and-mortgagee/">News</a></li>
    </ul>
  </nav>
</footer>